body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  background: #333;
}


.drnbt {
  padding: 0px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  height: 140px;
  border-radius: 4px;
}

.btnactive {
  border: 3px solid black;
}
